.custom-link {
    color: black;
    text-decoration: none;
}
.custom-link:hover {
    text-decoration: underline;
}

.ck-editor__editable {
    min-height: 500px;
}

.ck-editor__editable p { margin: 0 }
.ck-content { font-size: 13px; }