<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments by Member</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<input type="hidden" id="isAuthenticated" th:value="${#authorization.expression('isAuthenticated()')}"/>

<div th:replace="~{fragment/header :: header}"></div>

<div class='container my-5'>
    <h1 th:text="${memberDto.name}">Member Name</h1>

    <!-- Comment Table -->
    <table class='table table-striped my-4'>
        <!-- Table Head -->
        <thead>
        <tr>
            <th scope='col'>내용</th>
            <th scope='col'>날짜</th>
            <th scope='col'>좋아요</th>
            <th scope='col'>싫어요</th>
        </tr>
        </thead>

        <tbody id='CommentList'>
        </tbody>

    </table>

    <!-- Search Bar-->
    <div class="input-group rounded">
        <input type="search"
               class="form-control rounded"
               placeholder="Search"
               aria-label="Search"
               aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
    </div>

    <!-- Pagination -->
    <div id='Pagination' class="btn-group mt-3"></div>
</div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>
<script>
    function loadComments(memberId, page = 0) {
        let url = "/api/comments/member/" + memberId;
        $.ajax({
            url: url,
            type: 'GET',
            data: {page: page, size: 20, sortField: "createdDate", sortOrder: "desc"},
            success: function (data) {
                const commentList = $('#CommentList');
                commentList.empty();
                data.content.forEach(function (comment) {
                    const row = $('<tr>').append(
                        $('<td>').append(
                            $('<a>')
                                .addClass('custom-link')
                                .attr('href', '/post/' + comment.postId)
                                .text(comment.content)
                        ),
                        $('<td>').text(moment(comment.createdDate, "YYYY.MM.DD HH:mm").fromNow()),
                        $('<td>').text(comment.likeCount),
                        $('<td>').text(comment.dislikeCount)
                    );
                    commentList.append(row);
                });

                // Pagination
                const pagination = $('#Pagination');
                pagination.empty();
                for (let i = 0; i < data.totalPages; i++) {
                    let btnClass = i === page ? 'btn-primary' : 'btn-default';
                    const btn = $('<button>')
                        .addClass('btn')
                        .addClass(btnClass)
                        .text(i + 1)
                        .click(function () {
                            loadComments(memberId, i);
                        });
                    pagination.append(btn);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    $(document).ready(function () {
        const memberId = [[${memberDto.id}]];
        loadComments(memberId);
    });
</script>
</body>
</html>
