<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h2 class="text-center">로그인</h2>

    <!-- Display error message -->
    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>

    <form action="#" th:action="@{/members/login}" method="post" class="mt-5">

        <div class="form-group">
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" name ="loginId" th:value="${loginId}" class ="form-control"/>
        </div>

        <div class ="form-group">
            <label for ="password">비밀번호</label>
            <input type ="password" id ="password" name ="password" class ="form-control"/>
        </div>

        <!-- Submit button -->
        <form action="#" th:action="@{/login}" method="get" class="d-flex">
            <button type="submit" class="btn btn-outline-success">로그인</button >
        </form >
        <p><a href='#'>비밀번호 찾기</a></p>
        <p><a href='#'>회원가입</a></p>

    </form>
</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
