<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head><title>MyCommunity</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"/>
</head>
<body>
<input type="hidden" id="_csrf" th:value="${_csrf.token}"/>
<div th:replace="~{fragment/header :: header}"></div>
<div class="container mt-5">
    <div class="row border-bottom pt-1 pb-1">
        <div class="col"><a th:href="|/category/${postDto.parentCategoryId}|"> <span
                th:text="${postDto.parentCategoryName}" class="custom-link">카테고리</span> </a> <span>|</span> <a
                th:href="|/category/${postDto.parentCategoryId}?tab=${postDto.categoryName}|"> <span
                th:text="${postDto.categoryName}" class="custom-link">탭</span> </a></div>
    </div>
    <div class="row align-items-center bg-light border-bottom pt-1 pb-1">
        <span th:text="${postDto.title}" class="col-md-6 text-start">제목</span>
        <span th:text="${postDto.createdDate}" class="col-md-6 text-end">작성일</span>
    </div>

    <div class="row align-items-center border-bottom pt-1 pb-1">
        <span th:text="${postDto.memberName}" class="col-md-6 text-start">작성자</span>
        <div class="col-md-6 text-end">
            <span class="me-3" th:text="'조회 ' + ${postDto.viewCount}">조회수</span>
            <span class="me-3" th:text="'추천 ' + ${postDto.likeCount}">추천수</span>
            <span th:text="'댓글 ' + ${#lists.size(postDto.comments)}">댓글수</span>
        </div>
    </div>
    <div class="text-end">
        <a th:if="${memberId == postDto.memberId}" th:href="@{|/post/${postDto.id}/edit|}">수정</a>
    </div>

    <div class="mb-3 mt-3">
        <label for="content" class="form-label" style="display: none"></label>
        <textarea id="content" name="content" class="form-control ckeditor" rows="10"></textarea>
    </div>


    <div class="d-flex justify-content-center pt-3 pb-3">
        <button type="button" class="btn btn-success btn-sm me-3" onclick="react('like')">
            <i class="fa fa-thumbs-up"></i> 좋아요
        </button>
        <span th:text="${postDto.likeCount}" class="bg-light text-dark mx-2 py-2 px-3 rounded-pill me-3" id="likeCount">좋아요 수</span>
        <span th:text="${postDto.dislikeCount}" class="bg-light text-dark mx-2 py-2 px-3 rounded-pill me-3"
              id="dislikeCount">싫어요 수</span>
        <button type="button" class="btn btn-danger btn-sm" onclick="react('dislike')">
            <i class="fa fa-thumbs-down"></i> 싫어요
        </button>
    </div>
    <hr/>

    <form id="commentForm" method="post" action="/api/comments/">
        <input type="hidden" name="postId" th:value="${postDto.id}">
        <input type="hidden" name="memberId" th:value="${memberId}">
        <label for="commentContent">댓글 쓰기</label>
        <div class="row mb-3 align-items-stretch">
            <div class="col">
        <textarea id="commentContent"
                  name="content"
                  class="form-control"
                  rows="3"
                  oninput="
                    this.style.height = '';
                    this.style.height = this.scrollHeight + 'px'
                  "></textarea>
            </div>
            <div class="col-auto d-flex">
                <button type='submit' class='btn btn-primary align-self-stretch' style='height: 100%;'>등록</button>
            </div>
        </div>
    </form>

    <div id="commentList" class="pt-4"></div>

    <!-- Pagination -->
    <div id="Pagination" class="btn-group mt-3"></div>
</div>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script type=text/javascript src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/ko.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/ckeditor.js}"></script>
<script th:src="@{/js/editor.js}" type="module"></script>

<script th:inline="javascript">
    const memberId = [[${memberId}]];
    const postId = [[${postDto.id}]];
    const content = [[${postDto.content}]];
</script>
<script type="module">
    import makeEditor from '/js/editor.js';

    makeEditor("#content").then(editor => {
        editor.enableReadOnlyMode(" 'my-feature-id' ");
        editor.setData(content);
    });
</script>
<script>
    loadLastPageComments(postId);

    function react(reaction) {
        if (!isLogin()) {
            return;
        }
        const isLike = reaction === 'like';
        const url = `/api/posts/${postId}/react`;
        const data = {member_id: memberId, is_like: isLike};
        $.ajax({
            url, type: 'POST', data, success: (response) => {
                updateReactionCounts(response);
            }, error: (jqXHR) => {
                console.error('Error:', jqXHR.responseText);
                alert("요청을 처리하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
            },
        });
    }

    function updateReactionCounts(response) {
        document.getElementById('likeCount').innerText = response.likeCount;
        document.getElementById('dislikeCount').innerText = response.dislikeCount;
    }

    function loadComments(postId, page = 0, size = 10, sortField = "createdDate", sortOrder = "asc") {
        const url = `/api/comments/post/${postId}`;
        const data = {page, size, sortField, sortOrder};
        $.ajax({
            url, type: 'GET', data, success: (data) => {
                const commentList = $('#commentList');
                commentList.empty();
                data.content.forEach((comment) => {
                    commentList.append(createCommentElement(comment));
                });
                const pagination = $('#Pagination');
                pagination.empty();
                for (let i = 0; i < data.totalPages; i++) {
                    const buttonClass = i === page ? 'btn-primary' : 'btn-default';
                    const button = $(`<button>`).addClass('btn').addClass(buttonClass).text(i + 1).click(() => {
                        loadComments(postId, i);
                    });
                    pagination.append(button);
                }
            }, error: (jqXHR) => {
                console.error('Error:', jqXHR.responseText);
                alert("요청을 처리하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
            },
        });
    }

    function getTotalPages(postId, page = 0, size = 10, sortField = "createdDate", sortOrder = "asc", callback) {
        const url = `/api/comments/post/${postId}/totalPages`;
        const data = {page, size, sortField, sortOrder};
        $.ajax({
            url,
            type: 'GET',
            data,
            success: (totalPages) => {
                callback(totalPages);
            },
            error: (jqXHR) => {
                console.error('Error:', jqXHR.responseText);
                alert("요청을 처리하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
            },
        });
    }

    function loadLastPageComments(postId, page = 0, size = 10, sortField = "createdDate", sortOrder = "asc") {
        getTotalPages(postId, page, size, sortField, sortOrder, (totalPages) => {
            if (totalPages <= 0) {
                loadComments(postId);
            } else {
                loadComments(postId, totalPages - 1);
            }
        });
    }

    function loadReplies(parentId, moreRepliesLink, page = 0, size = 10, sortField = "createdDate", sortOrder = "asc") {
        const url = `/api/comments/${parentId}/replies`;
        const data = {page, size, sortField, sortOrder};
        $.ajax({
            url, type: 'GET', data, success: function (response) {
                let remainingRepliesCount = moreRepliesLink.text().split(' ')[0] - response.content.length;
                response.content.forEach(function (reply) {
                    let replyElement = createCommentElement(reply);
                    $('#replyList' + parentId).append(replyElement);
                });
                if (remainingRepliesCount > 0) {
                    moreRepliesLink.text(remainingRepliesCount + ' more replies');
                } else {
                    moreRepliesLink.remove();
                }
            }, error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                console.log(jqXHR.responseText);
                alert('요청을 처리하는 도중 오류가 발생했습니다. 다시 시도해 주세요.');
            }
        });
    }

    $(document).ready(function () {
        $.ajaxSetup({headers: {'X-CSRF-TOKEN': $('#_csrf').val()}});
        $(document).on('click', '.more-replies', function (e) {
            e.preventDefault();
            let moreRepliesLink = $(this);
            let commentId = moreRepliesLink.data('comment-id');
            loadReplies(commentId, moreRepliesLink);
        });
        $(document).on('submit', '.reply-form', function (e) {
            e.preventDefault();
            if (!isLogin()) return;
            let content = $(this).find('textarea[name=content]').val().trim();
            if (content.length === 0) return;
            let parentId = $(this).find('[name=parentId]').val();
            let formData = {
                content: content,
                postId: postId,
                memberId: memberId,
                parentId: parentId
            };
            sendAjaxRequest('/api/comments/', 'POST', formData, function (response) {
                let moreRepliesLink = $(this).find('.more-replies');
                loadReplies(parentId, moreRepliesLink);
                $('#commentContent').val('');
                $('.reply-form').remove();
            });
        });

        $(document).on('click', '.reply-link', function (e) {
            e.preventDefault();
            $('.reply-form').remove();
            let parentId = $(this).data('comment-id');
            let replyList = $('#replyList' + parentId);
            const replyForm = $('<form>').addClass('reply-form pt-2').attr('method', 'post').attr('action', '/api/comments/').append($('<input>').attr('type', 'hidden').attr('name', 'postId').val(postId), $('<input>').attr('type', 'hidden').attr('name', 'memberId').val(memberId), $('<input>').attr('type', 'hidden').attr('name', 'parentId').val(parentId), $('<label>').text("댓글 쓰기"), $('<div>').addClass("row mb-3 align-items-stretch").append($('<div>').addClass("col").append($('<textarea>').addClass("form-control").attr({
                name: "content",
                rows: "3"
            }).on("input", function () {
                $(this).css('height', 'auto');
                $(this).css('height', this.scrollHeight + 'px');
            })), $('<div>').addClass("col-auto d-flex").append($('<button>').addClass("btn btn-primary align-self-stretch").text("등록"))));
            replyList.before(replyForm);
            $('.reply-form textarea[name=content]').focus();
        });

        $('#commentForm').on('submit', function (e) {
            e.preventDefault();
            if (!isLogin()) return;
            let content = $('#commentContent').val().trim();
            if (content.length === 0) return;
            let formData = {content: content, postId: postId, memberId: memberId};
            sendAjaxRequest('/api/comments/', 'POST', formData, function (response) {
                loadLastPageComments(postId);
                $('#commentContent').val('');
            });
        });
    });

    function createCommentElement(comment) {
        let rowDiv = $('<div class="row"></div>');
        let colDiv = $('<div class="col"></div>');
        let dFlexDiv1 = $('<div class="d-flex flex-start"></div>');
        let imgTag = $('<img>').addClass('rounded-circle shadow-1-strong me-3').attr('src', 'https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp').attr('alt', 'avatar').attr('width', '65').attr('height', '65');
        let flexGrowDiv = $('<div>').addClass('flex-grow-1 flex-shrink-1');
        let dFlexDiv2 = $('<div>').addClass('d-flex justify-content-between align-items-center');
        let memberNameLink = $('<a>').attr('href', '/info/' + comment.memberId).addClass('custom-link').text(comment.memberName);
        let pTag1 = $('<p>').addClass("mb-1").append(memberNameLink, " - " + moment(comment.createdDate, "YYYY.MM.DD HH:mm").fromNow());
        let replyLink = $('<a>').attr('href', '#!').addClass('reply-link').data('comment-id', comment.id).append($('<i>').addClass('fas fa-reply fa-xs'), $('<span>').addClass('small').text(' reply'));
        dFlexDiv2.append(pTag1, replyLink);
        let pTag2 = $('<p>').addClass("small mb-0");
        if (comment.parentMemberId) {
            let mention = $('<a>').attr('href', '/info/' + comment.parentMemberId).text('@' + comment.parentMemberName);
            pTag2.append(mention, ' ');
        }
        pTag2.append(document.createTextNode(comment.content));
        flexGrowDiv.append(dFlexDiv2, pTag2);
        dFlexDiv1.append(imgTag, flexGrowDiv);
        colDiv.append(dFlexDiv1);
        rowDiv.append(colDiv);
        if (comment.level < 3) {
            rowDiv.css('margin-left', comment.level * 20 + 'px');
        }

        if (comment.childrenSize > 0) {
            let moreRepliesLink = $('<a>').attr('href', '#').css('color', 'gray').data('comment-id', comment.id).addClass('custom-link more-replies mt-1').text(comment.childrenSize + ' more replies')
            rowDiv.append(moreRepliesLink);
        }
        rowDiv.append($('<hr/>').addClass('mt-3'));
        let replyList = $('<div>').attr('id', 'replyList' + comment.id);
        rowDiv.append(replyList);
        return rowDiv;
    }

    function isLogin() {
        if (!memberId) {
            alert('로그인이 필요한 기능입니다.');
            return false;
        }
        return true;
    }

    function sendAjaxRequest(url, type, dataObj, successCallback) {
        $.ajax({
            url: url,
            type: type,
            data: JSON.stringify(dataObj),
            contentType: "application/json",
            processData: false,
            success: function (response) {
                // console.log(response);
                if (successCallback) {
                    successCallback(response);
                }
            },
        });
    } </script>
</body>
</html>