<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCommunity</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>

<div class="container mt-5">
    <table class="table table-striped my-4">
        <thead>
        <tr>
            <th scope="col">탭</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">날짜</th>
            <th scope="col">조회</th>
            <th scope="col">추천</th>
        </tr>
        </thead>
        <tbody id='PostList'>
        </tbody>
    </table>
    <div id='Pagination' class="btn-group mt-3"></div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>
<script>

</script>
</body>
</html>