<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Create Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<input type="hidden" id="isAuthenticated" th:value="${#authorization.expression('isAuthenticated()')}"/>

<div th:replace="~{fragment/header :: header}"></div>
<div class="container mt-5 justify-content-center">
    <h3><a th:href="|/category/${category.id}|" class="custom-link" th:text="${category.name}">Category Name</a></h3>

    <form id="postForm"
          th:action="${#strings.isEmpty(postDto.id) ? '/api/posts' : '/api/posts/' + postDto.id}"
          th:method="${#strings.isEmpty(postDto.id) ? 'POST' : 'PUT'}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" name="memberId" th:value="${memberId}">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="subcategory" class="form-label" style="display: none">Subcategory</label>
                <select id="subcategory" class="form-select" name="categoryId">
                    <option th:each="subCategory : ${category.children}"
                            th:value="${subCategory.id}"
                            th:selected="${subCategory.id == postDto.categoryId}"
                            th:text="${subCategory.name}">Subcategory</option>
                </select>
            </div>
            <div class="col-md-9">
                <label for="title" class="form-label" style="display: none;">제목</label>
                <input type="text" id="title" name="title" class="form-control" th:value="${postDto.title}"/>
            </div>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label" style="display: none"></label>
            <textarea id="content" name="content" class="form-control ckeditor" rows="10" th:text="${postDto.content}"></textarea>
        </div>

        <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a onclick="history.back()" class='btn btn-secondary'>뒤로가기</a>
                <button type="submit" class="btn btn-primary  requires-auth">등록</button>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/js/ckeditor.js}"></script>
<script th:src="@{/js/editor.js}" type="module"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script type="module">
    import makeEditor from '/js/editor.js';

    $(document).ready(function() {
        let editorInstance = null;

        makeEditor("#content").then(editor => {
            // Additional setup...
            editorInstance = editor;
        });

        const postForm = $('#postForm');
        postForm.on('submit', function(e) {
            e.preventDefault();

            const isAuthenticated = $('#isAuthenticated').val() === 'true';
            if (!isAuthenticated) {
                alert("로그인이 필요한 기능입니다.");
                return;
            }

            // Update ckeditor data to textarea
            if (editorInstance) {
                $('#content').val(editorInstance.getData());
            }

            const formData = new FormData(this);

            $.ajax({
                url: postForm.attr('action'),
                type: postForm.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    window.location.href = "/post/" + response.id;
                },
                error: function(jqXHR) {
                    console.log("Error:", jqXHR.responseText);
                    alert("게시글을 등록하는데 실패했어요.");
                }
            });
        });
    });
</script>
</body>
</html>