<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts by Category</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container my-5">
    <h1 th:text="${category.name}">Category Name</h1>

    <!-- Tab Nav -->
    <div class='nav nav-tabs' id='myTab' role='tablist'>
        <button class="nav-item nav-link" th:each="subCategory : ${category.children}"
                th:id="|${subCategory.name}-tab|" data-bs-toggle="tab"
                th:href="'#' + ${subCategory.name}" role="tab"
                th:aria-controls="${subCategory.name}" th:text="${subCategory.name}"
                th:data-catid="${subCategory.id}"
                onclick="loadPosts(this.getAttribute('data-catid'), this.getAttribute('href').substring(1))">
        </button>
    </div>

    <!-- Tab Content -->
    <div class='tab-content'>
        <!-- Subcategory Loop -->
        <div th:each='subCategory : ${category.children}' class='tab-pane fade' role ='tabpanel' th:id='${subCategory.name}'>

            <!-- Post Table for each Sub-category-->
            <table class="table table-striped my-4">
                <thead>
                <tr>
                    <th scope="col">탭</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회</th>
                    <th scope="col">추천</th>
                    <th scope="col">날짜</th>
                </tr>
                </thead>
                <tbody th:id="${subCategory.name + 'PostList'}">
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function loadPosts(categoryId, tabId) {
        $.ajax({
            url: '/api/posts/category/' + categoryId,
            type: 'GET',
            success: [
                function(data) {
                    // Clear the existing posts
                    $('#' + tabId + 'PostList').empty();

                    // Add each post to the table
                    data.content.forEach(function(post) {  // <- 수정된 부분
                        const row = $('<tr>').append(
                            $('<td>').text(post.categoryName),
                            $('<td>').text(post.title),
                            $('<td>').text(post.viewCount),
                            $('<td>').text(post.likeCount),
                            $('<td>').text(post.createdDate)
                        );
                        $('#' + tabId + 'PostList').append(row);
                    });
                }
            ],
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

</script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

